<h1>swf 詳細</h1>

<table class="table table-striped table-bordered">
  <tr><td>ID</td><td><%= @swf.id %></td></tr>
  <tr><td>シリーズ</td><td><%= swf_series_name_link(@swf_series) %></td></tr>
</table>

<%= link_to 'フラッシュ表示', swf_binary_url(@swf.swf_binary), class: 'btn btn-info' %>
<%= link_to '編集', edit_swf_url(@swf), class: 'btn btn-warning' %>
<%= link_to '半自動テスト', swf_swf_test_url(@swf, 0), class: 'btn btn-info' %>

<h2>ターゲット</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr><td>識別子</td><td>タイプ</td><td>オフセット</td></tr>
  </thead>
  <tbody>
    <%- @swf_series.targets.each do |name, type| -%>
      <tr>
        <td><%= name %></td>
        <td><%= type %></td>
        <td><%= @target_name_to_offset_map[name].try(:value) %></td>
        <td><%= link_to('差し替えテスト', test_swf_url(@swf, target_name: name)) if @target_name_to_offset_map[name].present? %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>

<%- [TargetType::JPEG, TargetType::GIF].each do |target_type| -%>
  <h2><%= target_type %> オフセット</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr><td>オフセット</td><td>ターゲット割り当て</td></tr>
    </thead>
    <tbody>
      <%- @swf.offsets.select{|o| o.offset_type == target_type}.each do |o| -%>
        <tr><td><%= o.value %></td><td><%= o.target_name %></td></tr>
      <%- end -%>
    </tbody>
  </table>
<%- end -%>

<%= link_to 'swf 一覧', swfs_url(swf_series_id: @swf.swf_series.id), class: 'btn btn-info' %>