<h1>swf タイトル一覧</h1>

<%= link_to '新規作成', new_swf_title_url, class: 'btn btn-primary' %><br>
<br>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr><th>ID</th><th>名前</th><th>シリーズ最新バージョン</th><th></th></tr>
  </thead>
  <tbody>
    <% @swf_titles.each do |title| %>
      <tr>
        <td><%= title.id %></td>
        <td><%= title.name %></td>
        <td><%= swf_titles_latest_swf_series_version_link(title) %></td>
        <td><%= link_to 'swf シリーズ一覧', swf_series_index_url(swf_title_id: title.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

