<%= form_for(@series) do |f| %>
  <% if @series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @series.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <dl>
    <dt>識別子</dt><dd><%= f.text_field :name %></dd>
  </dl>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
