<h1>SwfTests#show</h1>
<h2><%= @test_suite.description(@test_index) %></h2>
<%= swf_binaries_flash_tag(send_show_swf_swf_test_url(@swf, @test_index)) %>

<h3>チェック項目</h3>
<ul>
  <%- @test_suite.check_items(@test_index).each do |item| -%>
    <li><%= item %></li>
  <%- end -%>
</ul>

<%= link_to "前へ(#{@test_index}/#{@test_suite.size})", swf_swf_test_url(@swf, @test_index - 1), class: 'btn btn-primary' if @test_index > 0 %>
<%= link_to "次へ(#{@test_index + 2}/#{@test_suite.size})", swf_swf_test_url(@swf, @test_index + 1), class: 'btn btn-primary' if @test_index + 1 < @test_suite.size %><br>
<%= link_to 'swf詳細', swf_url(@swf), class: 'btn btn-info' %>

